<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <title>Semantik</title>
    <link rel="stylesheet" href="../css/genericPage.css">
</head>
<body>
    <header>
        <div class="containerHeader1" id="fixed">
            <a id="element1" href="#1"><span id="semantikBold">SEMANTIK</span> FOR YOU</a>
                <nav>
                    <ul>
                        <li><a id="element2" href="#2">HOME</a></li>
                        <li><a id="element3" href="#3">GENERIC</a></li>
                        <li><a id="element4" href="#4">ELEMENTS</a></li>
                    </ul>
                </nav>
        </div>
    </header>
    <main>
        <div id="containerMain1">
        <div id="containerMainTitle">
        <h1>GENERIC PAGE TEMPLATE</h1>
        <h3 id="subtitleMain1">Lorem ipsum dolor sit consectetur, adipisicing elit. Voluptas.</h3>
        <img id="imgMain1" src="../images/pic01.jpg" alt="miskine t aveugles">
        </div>
        </div>
    </main>
</body>
</html>