<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/favicon.ico">
    <title>Semantik</title>
    <link rel="stylesheet" href="../css/genericPage.css">
    <script src="https://kit.fontawesome.com/ddf016fd89.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="containerHeader1" id="fixed">
            <a id="element1" href="#"><span id="semantikBold">SEMANTIK</span> FOR YOU</a>
                <nav>
                    <ul>
                        <li><a id="element2" href="#2">HOME</a></li>
                        <li><a id="element3" href="#3">GENERIC</a></li>
                        <li><a id="element4" href="#4">ELEMENTS</a></li>
                    </ul>
                </nav>
        </div>
    </header>
    <main>
        <div id="containerMain">
            <h1>GENERIC PAGE TEMPLATE</h1>
            <h3>Lorem ipsum dolor sit consectetur, adipisicing elit. Voluptas.</h3>
            <img id="imgMain" src="../images/pic01.jpg" alt="miskine t aveugles">
            <p class="textMain">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta deleniti adipisci dignissimos optio sapiente id recusandae cum illum, nemo iusto? Possimus quidem nam id fugit voluptatem. Rem eveniet facilis tempore repellat amet voluptatibus quod recusandae voluptatem dolores ipsa ab laboriosam, vel ad perspiciatis veniam, quos eaque reprehenderit? Delectus totam necessitatibus dicta assumenda, reiciendis amet doloribus fugiat laboriosam id nulla, in sed, vero suscipit reprehenderit aperiam quod dolor incidunt eius! Reiciendis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex facilis vitae dolor fugiat, repellat at nesciunt, explicabo obcaecati ullam adipisci, commodi eaque consectetur itaque natus illum unde impedit esse dolorem . Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sint aut reprehenderit tenetur laborum sunt iusto, ullam esse quae voluptatibus tempora pariatur magnam similique. Voluptatibus!</p>
            <p class="textMain">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta deleniti adipisci dignissimos optio sapiente id recusandae cum illum, nemo iusto? Possimus quidem nam id fugit voluptatem. Rem eveniet facilis tempore repellat amet voluptatibus quod recusandae voluptatem dolores ipsa ab laboriosam, vel ad perspiciatis veniam, quos eaque reprehenderit? Delectus totam necessitatibus dicta assumenda, reiciendis amet doloribus fugiat laboriosam id nulla, in sed, vero suscipit reprehenderit aperiam quod dolor incidunt eius! Reiciendis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex facilis vitae dolor fugiat, repellat at nesciunt, explicabo obcaecati ullam adipisci, commodi eaque consectetur itaque natus illum unde impedit esse dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptates recusandae unde in inventore voluptas deserunt ad eos ipsa rem. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="textMain">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi sapiente omnis animi rem esse mollitia, officia, at eveniet id harum similique, quo quis laudantium eius culpa reiciendis fugit hic? Vel magni eaque quo sint tempore iusto? Sequi saepe iusto, numquam dolore minima ducimus iste cupiditate veniam commodi ut optio repudiandae maiores distinctio? Asperiores temporibus corrupti cum dolores est, alias inventore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, molestiae ? Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, porro !</p>
        </div>
    </main>
    <footer>
            <div class="social_media">
                <p><i class="icon_footer fa-brands fa-facebook-f"></i> <i class="icon_footer fa-brands fa-twitter"></i> <i class="icon_footer fa-brands fa-instagram"></i></p>
            </div>
            <div class="text_footer">
                <p class="border_t_footer t_footer">Learn to code</p>
                <p class="t_footer">Images: Unsplash</p>
            </div>
    </footer>
</body>
</html>