@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
h1 {
    font-weight: 600;
}
header {
    background-image: url(../images/overlay.png), url(../images/banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 49vw;
    font-size: 22px;
}
#filter_pg {
    height: 49vw;
}
.un {
    color: white;
    margin-top: 60px;
    margin-left: 55px;
}
.main_text_header {
    font-weight: bolder;
}
li a {
    padding-right: 55px;
    color: white;
}
ul {
    display: flex;
    margin-top: 60px;
}
.container_header_1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.container_header_2 {
        /* width: 100%;
        height: 30vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_header_body {
    width: 40vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 12vw;
}
.p_center_header {
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 3vw;
    letter-spacing: 2px;
    opacity: 0.7;
    font-size: 25px;
}
.button_top {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-color: #F32853;
    font-weight: bold;
    border-radius: 6px;
    margin-top: 45px;
    transition: transform .2s;
}
.button_top:hover {
    transform: scale(1.1);
}
.container_main_1 {
    width: 100%;
    height: 50vw;
    display: flex;
    gap: 10%;
    justify-content: center;
}
.container_main_1_body {
    width: 22vw;
    display: flex;
    flex-direction: column;
}
.container_main_3_body {
    display: flex;
}
.title_container_1 {
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 15px;
    margin-top: 6vw;
    width: 120%;  
}
.subtitle_container_1 {
    text-transform: uppercase;
    color: #666666;
    font-weight: lighter;
    font-size: 25px;
    line-height: 37px;
}
.text_container {
    color: #323037;
    font-size: 19px;
    font-weight: bold;
    padding-bottom: 30px;
}
.container_main_3_body {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    margin-top: 6vw;
    width: 23%;
}
.container_main_2 {
    background-color: #f6f6f6;
    width: 100%;
    height: 58vw;
}
.title-and-subtitle_container_2 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.title_container_2 {
    text-transform: uppercase;
    font-size: 2.5vw;
    margin-bottom: 20px;
}
.subtitle_container_2 {
    text-transform: uppercase;
    color: #666666;
}
.articles_container_2 {
    display: flex;
    justify-content: center;
}
.article_container_2 {
    margin-left: 20px;
    margin-right: 20px;
}
.text_article {
    border: #e8e8e8 solid 1px;
    box-shadow: 10px 10px 15px #e8e8e8;
    padding: 50px 50px 50px 50px;
    text-align: center;
    font-size: 29px;
    font-weight: bolder;
    text-transform: uppercase;
}
.article_container_2 {
    display: flex;
    flex-direction: column;
}
.image_article {
    width: 35vw;
    height: 25vw;
}
.container_button {
    height: 5vw;
    margin-top: 55px;
    padding-top: 33px;
    display: flex;
    justify-content: center;
}
.button_container_2 {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 45px;
    color: white;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-right: 10px;
    margin-left: 10px;
}
.button_left {
    background-color: #f22754;
}
.button_right {
    background-color: #222222;
}
.container_main_3 {
    width: 100%;
    height: 43vw;
}
.title-and-subtitle_container_3 {
    text-transform: uppercase;
    margin-top: 6vw;
    margin-left: 12vw;
}
.title_container_3 {
    font-size: 45px;
}
.subtitle_container_3 {
    color: #666666;
    font-size: 25px;
    margin-top: 23px;
}
.all_article_container_3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}
.article_container_3 {
    /* width: 26vw; */
    /* height: 15vw; */
    display: flex;
    /* margin-left: 22vw; */
    margin-bottom: 2vw;
    padding-top: 3vw;
}
.left {
    flex-direction: row-reverse;
}
.right {
    text-align: right;
}
.text_article_container_3 {
    /* width: 15vw; */
    line-height: 32px;
}
.text_article_container_3, .left {
    margin-left: 20px;
}
.text_article_container_3, .right {
    margin-right: 20px;
}
.text_article_container_3 p {
    font-size: 17px;
    font-weight: 400;
}
.text_article_container_3 h2 {
    color: #666666;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
}
.text_article_container_3 h1 {
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: -1px;
    margin-bottom: 10px;
}
.img_container_3 {
    border: solid 8px #aaaaaa;
    border-radius: 50%;
}
.container_main_4 {
    background-image: url(../images/overlay.png), url(../images/banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 26vw;
    font-size: 22px;
}
.title-and-subtitle_container_4 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    text-transform: uppercase;
}
.subtitle_container_4 {
    color: #959191;
    font-size: 25px;
    margin-bottom: 3vw;
}
.title_container_4 {
    color: white;
    margin-bottom: 15px;
    margin-top: 1vw;
}
.button_container_4 {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    background-color: #F32853;
    border-radius: 6px;
    transition: transform .2s;
}
.button_container_4:hover {
    transform: scale(4.1);
}
.container_footer_1 {
    width: 100%;
    height: 25vw;
}
.social_media {
    height: 14vw;
    text-align: center;
    font-size: 3vw;
    color: #666666;
    padding-top: 9vw;
}
.icon_footer {
    padding-right: 1.5vw;
    padding-left: 1.5vw;
}
.text_footer {
    height: 3.9vw;
    display: flex;
    padding-top: 2vw;
    font-size: 1vw;
    justify-content: center;
    color: #666666;
}
.t_footer {
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    padding-top: 0.3vw;
}
.border_t_footer {
    border-right: 1px solid #666666;
}
.title-and-subtitle_container_4 {
    padding-top: 3%;
}
.subtitle_container_4 {    
    margin-bottom: 5vw;
}
.button_container_4 {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}




@media (max-width: 900px) { 
    header  {
        height: 70vw;
    }
    li a {
        padding-right: 20px;
    }
    .un {
        margin-top: 40px;
        margin-left: 20px;
    }
    ul {
        margin-top: 40px;
    }
    .container_header_2 {
        width: 100%;
    }
    .container_header_body {
        width: 60vw;
        height: 40vw;
        margin-top: 11vw;
    }
    .container_main_1_body {
        width: 35vw;
    }
    .title_container_1 {
        margin-top: 5vw;
    }
    .container_main_3_body {
        margin-top: 20px;
    }
    .text_container {
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 18px;
        margin-top: 5vw;
    }
    .container_main_1 {
        height: 78vw;
    }
    .container_main_2 {
        height: 85vw;
    }
    .image_article {
        width: 45.5vw;
    }
    .container_main_3 {
        width: 100%;
        height: 100vw;
    }
    .container_button {
        margin-top: 90px;
        padding-top: 1px;
    }
    .text_article_container_3, .left {
        margin-left: 9px;
    }
    .title_container_4 {
        font-size: 30px;
    }
    .title-and-subtitle_container_3 h1 {
        font-size: 40px;
    }
    .title-and-subtitle_container_3 h2 {
        font-size: 25px;
        margin-bottom: 50px;
    }
    .article_container_3 {
        padding-top: 8vw;
    }
    .social_media {
        font-size: 4vw;
    }
    .text_footer {
        font-size: 1.4vw;
    }
}
@media (max-width: 576px) {
    header {
        height: 115vw;
    }
    .un {
        font-size: 18px;
    }
    nav {
        font-size: 18px;
    }
    .text_center_header {
        font-size: 35px;
    }
    .p_center_header {
        font-size: 19px;
    }
    .container_header_body {
        margin-top: 25vw;
    }
    .container_main_1 {
        height: 183vw;
    }
    .title_container_1 {
        font-size: 40px;
        line-height: 50px;
    }
    .container_main_2 {
        height: 130vw;
    }
    .container_main_3 {
        height: 225vw;
    }
    .all_article_container_3 {
        grid-template-columns: none;
    }
    .container_main_4 {
        height: 40vw;
    }
    .title-and-subtitle_container_4 {
        padding-top: 5%;
    }
    .subtitle_container_4 {
        margin-bottom: 8vw;
    }
    .social_media {
        font-size: 30px;
    }
    .text_footer {
        font-size: 2vw;
        margin-top: 10px;
    }
}
